{
  "extends": ["airbnb", "prettier", "plugin:@sap/cds/recommended"],
  "env": {
    "node": true,
    "es6": true,
    "jest": true
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "globals": {
    "SELECT": true,
    "INSERT": true,
    "UPDATE": true,
    "DELETE": true,
    "CREATE": true,
    "DROP": true,
    "cds": true,
    "history": true,
    "location": true,
    "sap": true,
    "$": true,
    "document": true,
    "msal": true,
    "XMLHttpRequest": true
  },
  "rules": {
    "no-underscore-dangle": "off",
    "max-len": "off",
    "func-names": "off",
    "no-console": "off",
    "require-atomic-updates": "off",
    "camelcase": "off",
    "@sap/cds/auth-valid-restrict-where": "off"
  },
  "prettier/prettier": [
    "error",
    {
      "endOfLine": "auto"
    }
  ]
}
