# CAP project-planning
_out
*.db
connection.properties
default-*.json
gen/
node_modules/
target/

# Web IDE, App Studio
.che/
.gen/

# MTA
*_mta_build_tmp
*.mtar
mta_archives/
resources/

# Other
.DS_Store
*.orig
*.log

*.iml
*.flattened-pom.xml

# IDEs
# .vscode
# .idea

# From yeoman easy-ui5
node_modules/
.idea/
.mta/
*.mtar
dist/
package-lock.json
mta_archives/
deployer/resources/
Makefile*
mta-*
approuter/*/webapp/


# Environment
.env