[submodule "custom_packages/cds-msal-auth"]
	path = custom_packages/cds-msal-auth
	url = https://github.com/BenediktHoelker/cds-msal-auth.git
[submodule "custom_packages/cds-pg-migra"]
	path = custom_packages/cds-pg-migra
	url = https://github.com/iot-gmbh/cds-pg-migra.git
[submodule "custom_packages/errorhandler"]
	path = custom_packages/errorhandler
	url = https://github.com/BenediktHoelker/ui5-errorhandler.git
[submodule "custom_packages/cds-pg"]
	path = custom_packages/cds-pg
	url = https://github.com/iot-gmbh/cds-pg.git
[submodule "custom_packages/cds-azure-ad"]
	path = custom_packages/cds-azure-ad
	url = https://github.com/iot-gmbh/cds-azure-ad.git
