/* Form */

.formNewWorkItem {
	padding: 0 20vw;
}

@media only screen and (max-width: 1700px) {
	.formNewWorkItem {
		padding: 0;
	}
}

/* Table */

.sapMListTblHighlightCell {
	width: 10px;
}
.sapMLIBHighlightSuccess {
	width: 10px;
}
.sapMLIBHighlightWarning {
	width: 10px;
}
